[2020-02-06 21:15] josvegit opened #32 "Error loading giphs"
![Screenshot from 2020-02-06 22-13-05](https://user-images.githubusercontent.com/24354568/73979117-e2769680-492d-11ea-98fd-44a6ab67646e.png)

Getting above

![Screenshot from 2020-02-06 22-13-56](https://user-images.githubusercontent.com/24354568/73979186-fde1a180-492d-11ea-94be-2f83548c8b76.png)

Any idea?

![Screenshot from 2020-02-06 22-14-43](https://user-images.githubusercontent.com/24354568/

[2020-02-07 01:18] giannif commented on #32
@josvegit I'm going to look at when I show that message first thing tomorrow. I think it shows if there are no gifs, which isn't really an error, just no results, making this a UI problem

If you fetch gifs and there are results, everything is okay?

If this helps, here is a codesandbox demonstrating a search for dog gifs:
https://codesandbox.io/s/giphyreact-components-hbmcf?from-embed

[2020-02-07 15:52] giannif commented on #32
@josvegit I can't seem to make sense of this, you can see in this line that the error state is only set when the fetch throws:
https://github.com/Giphy/giphy-js/blob/master/packages/react-components/src/components/grid.tsx#L116

Maybe you can add a handler `onGifsFetchError` and see what the error is.
Also, just making sure you're on the latest version which is `0.3.7`

[2020-02-07 19:19] josvegit commented on #32
Console logged the error from **onGifsFetchError**

![Screenshot from 2020-02-07 20-17-15](https://user-images.githubusercontent.com/24354568/74058711-e31f3380-49e6-11ea-87bf-909499bd961d.png)

Also getting a warning from the console

![Screenshot from 2020-02-07 20-18-19](https://user-images.githubusercontent.com/24354568/74058770-09dd6a00-49e7-11ea-86f1-59002c90862a.png)

[2020-02-07 19:35] giannif commented on #32
@josvegit ah! I see. Thanks for the logs 👍 There's an actual error parsing the data. I don't think the request is valid even though it returns a `200`. Can you make sure you're passing a `string` to `giphyFetch.search(search)`, it's typed as `any` and it looks like in the request the value for `q` (as in query) is `q%5Bsearch%5D`. It should be something like `q=dogs`

[2020-02-07 20:02] josvegit commented on #32
aah thanks, my bad !

[2020-02-07 20:02] #32 closed

[2020-03-28 16:22] happylinks opened #56 "React Grid with Search"
Hi, thanks for these components!
I was trying to implement the Grid with search, so each time an input changes its value, the Grid should fetch.
Do you have an example of how to do this?
I tried to add key={searchTerm} to the grid but then I got a lot of state-updates that went wrong because old api responses came in.

UI for reference:
![image](https://user-images.githubusercontent.com/184774/778

[2020-03-28 17:28] happylinks opened #57 "Adblock Pingback"
![image](https://user-images.githubusercontent.com/184774/77829311-8b1cc780-7121-11ea-863e-da8eda5b8d91.png)
Seems like pingback calls will be caught in adblock.
Not sure if there's anything you want to do against this, but thought I'd ask.

[2020-03-30 08:22] breadadams opened #58 "Node support"
I've tried to implement `@giphy/js-fetch-api` in a Node script, but I'm getting errors regarding code that's "browser only" (`window`, `new Headers()`, etc).

Is the library intended to be for client-side JS only? - or is there Node support planned?

[2020-03-30 15:54] giannif commented on #58
@breadadams it wasn't a product requirement, but if `headers` is the only issue with node support then we can find a way to do it. In your environment, you can maybe require [isomorphic-fetch](https://www.npmjs.com/package/isomorphic-fetch) before you require our lib. If there are other issues, lmk and I'll see what we can do about `headers`

[2020-03-30 16:19] giannif commented on #56
@happylinks I whipped up an example for you, I was actually thinking about doing this, figuring people would want to see it, thanks for pointing it out!

https://codesandbox.io/s/giphyreact-components-search-example-0yrur

I'll probably refine it a bit, I'm using hooks and a debounced input, hope it's clear

[2020-03-30 17:38] giannif commented on #58
@breadadams released the new packages below that don't have the headers in fetch api, lmk if there are any other blockers for node!

 - @giphy/js-components: 2.4.3
 - @giphy/js-fetch-api: 1.5.3
 - @giphy/react-components: 0.7.3

[2020-03-31 08:51] happylinks commented on #56
Thanks a lot! I think using your useDebounce hook fixed it. I was using a different debouncer(https://github.com/MinimaHQ/re-debouncer) that kind of behaved weirdly.

[2020-03-31 08:51] #56 closed

[2020-03-31 16:25] giannif commented on #58
@breadadams I realized the headers are still referenced in our util package, will follow up when I have time to fix this

[2020-03-31 16:28] breadadams commented on #58
Ahh of course - no worries @giannif. Thanks for the effort here!

I ended up using the API directly in the end, which works for us as it's only a single request to the search API (you can see it [here](https://github.com/wombak/www-progress/blob/master/scripts/gifs.js)). However I'll be happy to move it over the the SDK once it's available 🙌

[2020-04-02 17:16] #58 closed

[2020-04-02 17:31] giannif commented on #58
@breadadams you should be good to go! here's a codesandbox showing it in action: https://codesandbox.io/s/fetch-api-in-express-kwfq8

The fetch api processes gifs after fetching, it normalizes some weirdness in our api responses and also helps us track which endpoint the gifs came from for our metrics.

If you have any issues lmk!

[2020-04-02 17:36] giannif commented on #57
@happylinks yeah there's nothing we can do here, thanks though!

[2020-04-02 17:36] #57 closed

[2020-04-04 01:49] colorgold opened #65 "Giphy js Grid"
I am using the @giphy/js-components for my project. I implemented a search bar like this:
![searchDogs](https://user-images.githubusercontent.com/45986859/78414782-6756f700-75e3-11ea-9095-36cbaa6b1671.JPG)

However, everytime I search for something, it does not clear the old search but populates below it.
This is an example:
![image](https://user-images.githubusercontent.com/45986859/78414961-670b

[2020-04-05 00:03] giannif commented on #65
@colorgold the problem is in my `renderGrid` function, something is happening with `Preact` and the virtual DOM that I didn't expect. I'll need to use a `key` so the virtual dom knows to destroy and recreate the component

[code]

I'll work on a fix

[2020-04-05 00:16] giannif commented on #65
@colorgold actually looks like I don't need to add any code, you can already pass a `key` to  `renderGrid`.  I may do a release where every time you invoke `renderGrid`, it generates a new key, but I want to think about that a little. Thanks for catching this!!

[code]

[2020-04-05 19:28] colorgold commented on #65
Thank you so much! I added passed `key` to `renderGrid` and it worked.

[2020-04-05 21:32] #65 closed

[2020-04-06 12:44] devpascoe commented on #58
Something to look into is React Native support. Unable to get an iOS app running, comment out import { GiphyFetch } from '@giphy/js-fetch-api' and i am working again. Can use urls directly for now.

[2020-04-06 13:55] breadadams commented on #58
Thanks @giannif - I'll give it a shot this week!

@devpascoe react-native support would be nice! I'd open a separate issue for it and post the error logs you're getting. I'm sure they'll be able to sort it 😉💪

[2020-04-06 15:34] giannif commented on #58
@devpascoe `react-native` support is on the wish list! but not exactly on our roadmap just yet, feel free to create an issue and we can hopefully get started on it

[2020-04-06 23:19] devpascoe opened #67 "React Native support"
Something to look into is React Native support. Unable to get an iOS app running, comment out import { GiphyFetch } from '@giphy/js-fetch-api' and i am working again. Can use urls directly for now.
The issue was a build error in Xcode indicating "Can't find variable location".

[2020-04-07 16:51] giannif commented on #67
Thanks @devpascoe !  When you say working again, what do you mean is working?

[2020-04-07 20:36] devpascoe commented on #67
Working as in the Xcode project will build again.

[2020-04-07 21:26] giannif commented on #67
@devpascoe gotcha. We're a bit off in developing this, we'll have a new `@giphy/react-native-components` library and everything.  Excited to work on it though, hopefully soon 🤞

[2020-04-07 21:30] devpascoe commented on #67
Fun! Getting by with using your urls directly for now. 👍

[2020-04-08 10:44] happylinks opened #68 "Critical dependency: the request of a dependency is an expression"
Hi, not sure if I'm doing an import wrong or something, but I'm getting this error in my build-process:
[code]

[2020-04-08 15:22] giannif commented on #68
@happylinks this is an issue with the parcel bundler we use to bundle our packages, I tried to resolve it last year but never got anywhere.

https://github.com/parcel-bundler/parcel/issues/2883#issuecomment-489771794

Not sure if anything has changed, the ticket is still open

If you're using webpack, I have a comment in the above thread on how to turn the warning off.

[2020-04-08 22:21] banatiarpit97 opened #69 "Search stickers"
Following the readme file on the repo, I am not able to search for stickers.

My Code:
   import { GiphyFetch } from '@giphy/js-fetch-api'
   const gf = new GiphyFetch('your api key');
   const { data: gifs } = await gf.search('dogs', { sort: 'relevant', lang: 'es', limit: 10, type: 'sticker' })

I am getting a 404 error.
API call made by SDK has the following URL:
https://api.giphy.com/v1/**stick

[2020-04-08 22:41] giannif commented on #69
@banatiarpit97 darn, that's an error in the README, the [type]()https://github.com/Giphy/giphy-js/blob/master/packages/fetch-api/src/option-types.ts#L4) value is `stickers`.

I will update the README, sorry about this!

[2020-04-09 07:09] happylinks commented on #68
Thanks, adding your "fix" to turn the warning off worked 👍
[code]

[2020-04-09 18:24] #68 closed

[2020-04-09 18:41] colorgold opened #72 "@giphy/js-components Compiling to Javascript"
I have a website that I have only used JavaScript with, but I tried using TypeScript as per the example on CodeSandbox. The problem I am having is that the browsers are not compiling the code correctly. Some of the errors I have encountered are:
"chat.ts” was blocked because of a disallowed MIME type (“video/mp2t”)" `//chat.ts is basically the same code as index.ts in the CodeSandbox example`
Afte

[2020-04-09 18:53] giannif commented on #72
@colorgold you can use the [TypeScript Compiler](https://www.typescriptlang.org/docs/handbook/compiler-options.html)

It's how we compile most of the code in this repo.

You'll just do:
[code]

Then the rest of the configuration comes from the tsconfig.json. Here is our [tsconfig.json](https://github.com/Giphy/giphy-js/blob/master/tsconfig.json)

[2020-04-09 20:52] colorgold commented on #72
Thank you for your response and patience. In my html file, do I reference the `index.ts` script or `index.js`? I copied the `tsconfig.json` you provided me with but I'm still having problems. For now I will go read the documentation on TypeScript Compiler to learn how to use it. Thanks again for the information.

[2020-04-09 22:23] giannif commented on #72
@colorgold no problem! you'd reference the `index.js` from you html script src.

[2020-04-10 00:31] colorgold commented on #72
I installed the TypeScript compiler but now I get a different error. This is what my code looks like:
![image](https://user-images.githubusercontent.com/45986859/78951421-be534500-7a97-11ea-8ad7-5a696cf0cc35.png)

![image](https://user-images.githubusercontent.com/45986859/78951441-d1feab80-7a97-11ea-8afc-a69a88b1fb6f.png)

If I remove the 2nd line in chat.js, I then get this error:
![image](https

[2020-04-10 15:50] giannif commented on #72
Ah I may have mislead you about `tsc`, we use that for our repo, but that is for our libraries, not for a bundle you'd use in a web page.

Take a look at https://parceljs.org/

It should be easy to get the bundled file you need for use with a script tag.

[2020-04-10 16:41] colorgold commented on #72
Would I still need `tsc` or do I get rid of all the `js` files created? I will go ahead and use parcel and see what happens. Thank you!

[2020-04-10 23:19] banatiarpit97 commented on #69
Changing the type from 'sticker' to 'stickers' worked for me. Thanks.

[2020-04-10 23:19] #69 closed

[2020-04-11 00:22] colorgold commented on #72
Thank you for recommending me `Parcel`. I was using webpack before and was getting so confused. So, the problem that I was having was that I was using my own server since I am also working with `Firebase hosting`. `Parcel` created a directory named `dist`, but my server serves files under my `public` directory; every time I ran my web app I got errors because the browser did not have access to the

[2020-04-11 16:28] #72 closed

[2020-04-13 07:39] budde377 commented on #58
@giannif, I might be missing something, but it looks like you're still not supporting node, because you assume that `fetch` is available? I'm getting the error
[code]
because of a call to fetch here https://github.com/Giphy/giphy-js/blob/master/packages/fetch-api/src/request.ts#L19 .

It might be worth using https://www.npmjs.com/package/isomorphic-fetch or allowing users to pass their own fetch i

[2020-04-13 16:37] giannif commented on #58
@budde377 I left it up to you to add the polyfill for fetch. In my experience, this is customary for libraries with polyfills. In the [codesandbox](https://codesandbox.io/s/fetch-api-in-express-kwfq8) I listed above, I used `isomorphic-fetch`.

I think this approach is best, because I wouldn't want to include a polyfill in the package that globally shims anything, it might override something in yo

[2020-04-13 16:41] breadadams commented on #58
Yeah, the polyfill should be handled at project level - **not** in the Giphy SDK 👍

[2020-04-13 23:40] Auretus opened #77 "XSS vulnerability in linked library"
TL;DR - your linked version of dompurify has a XSS vulnerability, updating to >=2.07 should fix it.
Got this report when I installed your package for a personal project:

                       === npm audit security report ===

  Critical        Cross-Site Scripting
  Package         dompurify
  Patched in      >=2.0.3
  Dependency of   @giphy/js-components
  Path            @giphy/js-components

[2020-04-14 19:35] giannif commented on #77
This was an unused dependency in our package.json, it was removed

[2020-04-14 19:35] #77 closed

[2020-04-14 21:37] budde377 commented on #58
@giannif That makes sense, thanks!

[2020-04-16 08:24] banatiarpit97 commented on #67
Facing the same issue with Android app as well.

[2020-04-16 16:18] giannif commented on #67
@banatiarpit97 don't forget we do have native SDKs: https://developers.giphy.com/docs/sdk#android React Native SDK isn't currently being worked on, but it is on the roadmap

[2020-04-18 15:39] banatiarpit97 commented on #67
Yes, I know about the Android SDK but integrative native SDK on a react native app would be a tedious task for me. Directly hitting Giphy URLs seems an easier option right now.
Anyways, excited to see a React Native SDK in future.

[2020-05-01 18:22] KokosnussDEV opened #82 ""fetch is not defined""
## Env
Node: `v13.0.1`
OS: `Windows (Version 10.0.18363.778)`
Package: `@giphy\js-fetch-api (Version: 1.5.9)`

## To Reproduce
1. Have a basic node.js project set up
2. Run `npm i @giphy\js-fetch-api`
3. Run project

## Code
[code]

## Error
[code]

[2020-05-03 01:33] kwasimensah opened #83 "Breaks with Server Side Rendering"
Trying to use @giphy/react-components with SSR causes this build error

[code]

Digging into it, it's coming from the @emotion dep (emotion/cache/index.js) and @giphy/js-brand comes prebuilt with the browser specific version.

You can work around it by turning the import into a conditional require but wanted to document this to see if this is a conscious decision.

[2020-05-04 05:21] kwasimensah opened #84 "giphy paginator is greedy about fetching results"
if you search for  generic term like "hello world" the paginator (https://github.com/Giphy/giphy-js/blob/master/packages/fetch-api/src/paginator.ts) will issue fetch requests until all ~10,000 gifs are received.

There should be 1) a reasonable way to limit the overall number of results or 2) a way to tell the Carousel to call the paginator lazily as users scroll through it.

[2020-05-04 05:33] kwasimensah commented on #84
Furthermore Caurosel's onLoaderVisible can call onFetch again, which seems like it might be able to cause a parallel set of fetches to start (the calls to this.setState look  a little iffy since it can be updated asynchronously and you're not explicitly the state in functions where it's blessed to be resolved).

[2020-05-04 15:10] giannif commented on #84
@kwasimensah thanks for reporting this, you're seeing this in the React `Carousel`? It might require this fix that I just made to the [grid](https://github.com/Giphy/giphy-js/pull/81). I'll take a look when I'm back in the office tomorrow

[2020-05-04 15:41] giannif commented on #83
@kwasimensah we launched without prioritizing SSR, but we can definitely dig in here

[2020-05-04 15:43] giannif commented on #82
@KokosnussDEV you need to add the fetch polyfill yourself, see my comment here: https://github.com/Giphy/giphy-js/issues/58#issuecomment-612978479

I will work on documenting this more clearly

[2020-05-04 15:43] #82 closed

[2020-05-04 20:35] kwasimensah commented on #84
Yup, this is with Carousel

[2020-05-05 08:36] thibault-yellowstones opened #85 "Giphy-js compiles with warnings using Webpack"
Please find below an extract of my terminal while running `npm start` in a `create-react-app` project.

[code]

This is a problem, as project builds will fail because of this.
It does not look like a big issue to solve. But it would be really helpful. Thanks.

[2020-05-05 16:03] giannif commented on #85
Hey @thibault-yellowstones this is just a warning, and it should not fail project builds, if you want to suppress the warning, you can (see #68)

[2020-05-05 16:03] #85 closed

[2020-05-05 17:44] giannif commented on #84
@kwasimensah I released a 1.0.6 version of `@giphy/react-components`, this should only trigger the paginator when the end of the carousel that has the loader element is on the screen. When the loader element goes off the screen, fetching should stop.

This is the approach we've been using for quite a bit on giphy.com with our grid, and in our web extensions and it should be solid.

Not sure exactl

[2020-05-07 00:53] kwasimensah commented on #84
I tried the updated and now it's not updating at all if i change my search terms. I'll put together a code sandbox to show it

[2020-05-07 01:01] kwasimensah commented on #84
Sandbox at https://codesandbox.io/s/giphyreact-components-td1qo?file=/src/index.tsx. The carousel should be refetching as I change the value of the input element

[2020-05-07 17:09] giannif commented on #84
@kwasimensah can you debounce your input? I'm going to investigate this, because it shouldn't happen regardless, but here is a codesandbox with a debounced input that works:
https://codesandbox.io/s/giphyreact-components-search-example-0yrur?file=/src/index.tsx

[2020-05-07 17:40] #84 closed

[2020-05-07 17:45] giannif commented on #84
@kwasimensah I removed the need for the debounce in version `1.0.7`. Should have tested without the debounce, my bad. Still good practice to have it though, to limit network requests while the user types.

I added an `unmounted` instance variable to check when `componentWillUnmount` so we don't `setState` after we unmount which triggered the loop

[2020-06-02 14:45] happylinks commented on #57
Hey @giannif, actually I think this library should catch the error and ignore it. Now it's an uncaught error that will end up in our error logs.

[2020-06-02 15:02] happylinks commented on #57
PR: https://github.com/Giphy/giphy-js/pull/88

[2020-06-05 17:29] tibudiyanto opened #89 "giphyRandomId yields """
Hi,

I am using nextjs and I am importing `@giphy/react-components` with SSR disabled; the component renders perfectly but giphyRandomID always return ""

I think it is the SSR but I don't know how to address this issue.

Any ideas?

Thank you

[2020-06-05 17:33] tibudiyanto commented on #89
Ooops, apparently the I need to render a gif before the `giphyRandomId` populates. Closing

[2020-06-05 17:33] #89 closed

[2020-06-10 08:33] kmschott opened #92 "Missing Callbacks "onGifsFetched" and "onGifsFetchError" in web SDK"
The callbacks `onGifsFetched` and `onGifsFetchError` for the web SDK in the js-components especially in the `renderGrid` function are optional and not called if the `fetchGifs` function does not return anything.

This makes it currently impossible for me to check and display a hint, if the query does not return any results.

I use Vue.js instead of React and therefore the native web components. I

[2020-06-11 07:14] kmschott commented on #92
Thanks! This kind of works. I needed some small adjustments and `gifs` are not returned in the result, instead we need to check for `result.data.length <= 0`. Thus, I also added proper error handling with a try-catch-block, because I stumbled across the `result.gifs.length` not found.

[2020-06-11 12:17] giannif commented on #92
@kmschott you want to check `result.data` for sure.  `result.gifs` is wrong, my bad

[2020-06-15 19:27] giannif commented on #92
We're going to add a `noResultMessage` property thanks to this PR #91
This will make it easier to display a message when there are no results, and you won't have to wrap the fetch anymore once we release

[2020-06-15 19:27] #92 closed

[2020-06-16 07:08] destinybonavita commented on #67
Has anyone had any luck getting `@giphy/js-fetch-api` working in React Native?

[2020-06-16 14:33] alokjkumar opened #93 "giphyRandomId undefined"
The giphyRandomId variable is undefined as needed for the verification process:
https://developers.giphy.com/docs/sdk#verification

Using Angular 9.1.0

[2020-06-16 14:34] alokjkumar opened #94 "How to implement analytics"
There are three URLs for analytics - at what points do these need to be called? Is loaded called when the search results load or when the result of clicking on the gif is loaded? When is the click URL called vs the sent URL?

Thanks

[2020-06-16 14:42] giannif commented on #94
Hello @alokjkumar, analytics are baked in to the components themselves. You don't need to do anything

[2020-06-16 14:42] #94 closed

[2020-06-16 14:44] alokjkumar commented on #94
@giannif for the fetch api?

[2020-06-16 14:46] giannif commented on #93
@alokjkumar can you tell me which package and version you're using? If you're using Angular, I'm guessing you're using `@giphy/js-components`. Make sure you have the latest version. You can see the `giphyRandomId` here in the console here in this [codesanbox](https://codesandbox.io/s/1wq52x1w44), it's defined globally

[2020-06-16 14:48] alokjkumar commented on #93
Just using @giphy/js-fetch-api@^1.5.9 and populating my own custom UI

[2020-06-16 14:51] giannif commented on #67
@destinybonavita can you see where `location` is being referenced? There isn't anything in the [giphy/js repo](https://github.com/Giphy/giphy-js/search?q=location&unscoped_q=location) that looks problematic to me. It could be a dependency though

[2020-06-16 14:56] giannif commented on #94
@alokjkumar there are no analytics for the fetch api. The components implement analytics since they know when gifs load, are clicked, hovered, etc.

Implementing your own analytics is technically possible but it's a pretty complex thing to support, can you not use our `@giphy/js-components` on your front end?

[2020-06-16 16:26] destinybonavita commented on #67
@giannif I didn't see anything in the repo that could of been causing it. I searched my entire repo, `node_modules` included, for `location` but couldn't find anything. I eventually just decided to use the REST API.

[2020-06-16 16:28] giannif commented on #93
@alokjkumar I'm going to close this since you're only using the fetch api and analytics and the random id don't apply in that scenario. I'm going to talk to the team and make sure we document this, you're not the first person to ask this

[2020-06-16 16:28] #93 closed

[2020-06-16 16:30] alokjkumar commented on #93
@giannif thanks for the help. I've done some looking into the components library and I think I can apply most of my custom styling from a global stylesheet

[2020-06-16 16:36] giannif commented on #67
@destinybonavita thanks for giving it a shot. React Native support is on our roadmap. Stay tuned

[2020-06-16 16:41] giannif commented on #93
@alokjkumar no problem. We have two layout components, `Carousel` and `Grid`. If you need a custom layout, you can still use the `Gif` and wrap it in an element and style it as needed. Or you can target the root element className of the `Gif` with [.giphy-gif](https://github.com/Giphy/giphy-js/blob/master/packages/components/src/components/gif.tsx#L284)

[2020-06-21 15:31] TobyDGosselin opened #96 "React Build Fails - Critical dependency: the request of a dependency is an expression"
When building my react app using the default react-scripts production build I get failures in CI due to the following:
[code]

Investigation has lead me to believe this is an issue with the giphy-js modules being bundled with parcel and CRA using webpack. Any suggestions on how to fix this?

[2020-06-21 15:38] giannif commented on #96
@TobyDGosselin this is usually a warning, and does not cause the build to fail, see #68

You can follow the steps there to remove the warning, but I think the error might be something else

[2020-06-21 15:55] TobyDGosselin commented on #96
@giannif I am not sure where to put that file.  Do I need to eject my react app for that to work?

[2020-06-21 16:00] giannif commented on #96
@TobyDGosselin reference the parcel bundler issue that I linked in the other ticket to remove the warning: https://github.com/parcel-bundler/parcel/issues/2883#issuecomment-489771794

I don’t think this is what is failing your build, this has always just been a warning and does not make builds fail

[2020-06-21 16:02] TobyDGosselin commented on #96
@giannif it will fail the build because it is in CI.

[code]

This is an actual issue and needs to be resolved. I don't want to have to run my release to prod with CI=''

[2020-06-21 16:06] giannif commented on #96
@TobyDGosselin okay then you’ll need to remove the warning as described in #68, there’s not much more I can do, it’s an issue with our bundler. I’ve never used create react app, so I can’t advise on whether or not you need to eject. Wish I could help more.

[2020-06-21 16:06] #96 closed

[2020-06-22 17:09] giannif commented on #83
We have two issues:
 - our css in js lib `emotion` is the reason the `@giphy/js-brand` lib throws an error
 - our masonry grid in `@giphy/react-components` requires js, and there doesn't seem to be a pure css solution

I can work around the first issue, but I might have to ditch the brand package which is made to be shared css between the UI packages (react and vanilla js). Or maybe I can get it t

[2020-06-29 18:19] ayyar commented on #93
@giannif how does one request verification if we are using the fetch API?

Right now the steps for verification here require giphyRandomId.
https://developers.giphy.com/docs/sdk/#verification

[2020-06-29 18:52] giannif commented on #93
@ayyar if you're not using UI components and only using the fetch api, then there is no verification. You just need a production ready api key and would reference the api section, not the sdk section: https://developers.giphy.com/docs/api#quick-start-guide

[2020-06-30 17:00] giannif commented on #83
Using the last release, SSR is working with the gif and carousel components. Here it is in a next.js codesandbox.
https://codesandbox.io/s/pensive-babbage-irv19?file=/pages/index.js

I'm working on the grid.

[2020-07-02 14:42] duncan-c opened #99 "hideAttribution flag isn't an input property on js-components renderGrid"
Hey,

I'm trying to disable attribution and gif links on the grid, but typescript is complaining that hideAttribution isn't a valid property in the options object, and I can't see a way of preventing the gifs automatically opening the giphy website?

Thanks!

[2020-07-02 15:11] giannif commented on #99
@duncan-c thanks for reporting, looks like I missed adding the property to the grid and carousel there like I did in the react components package. I'll get out a fix soon. As far as stopping the links, you can add an `onGifClick` handler and invoke `e.preventDefault()`

[code]

[2020-07-02 15:29] duncan-c commented on #99
Thanks for the fast response! `preventDefault()` worked perfectly.

[2020-07-02 15:38] #99 closed

[2020-07-02 15:43] giannif commented on #99
@duncan-c `@giphy/js-components` version 3.2.1 has the props. It should be available now

[2020-07-02 17:56] giannif commented on #83
All components now rendering with SSR, check the [codesandbox](https://codesandbox.io/s/giphy-web-sdk-ssr-irv19?file=/pages/index.js)

[2020-07-02 17:56] #83 closed

[2020-07-02 22:29] giannif commented on #96
This should not be happening at all now with latest version, we are no longer using parcel for bundling our `@giphy/js-brand` repo

[2020-08-03 10:29] anderseide opened #117 "Unable to get a new Random gif"
I'm trying to use the js-fetch-api to get a random GIF. On first execute, this works fine, but when trying to get another one, I just get the same result as the previous call. Almost like it's cached or something...

[code]

What am I doing wrong here?
Issue reproduced here https://codesandbox.io/s/cold-bash-9o9sh

[2020-08-03 15:05] giannif commented on #117
@anderseide this is a bug, thanks for catching, surprised it's gone so long undetected. I'll get a fix out shortly. We are caching in memory based on url.

[2020-08-03 15:34] #117 closed

[2020-08-03 15:59] giannif commented on #117
@anderseide there are new packages ready. `@giphy/js-fetch-api: 1.6.1` fixes this

[2020-08-06 09:42] MatthewCaseres opened #120 "Deploying without exposing api key?"
I have heard that API keys should not be passed to the client as they are then available to all visitors of the website. I am not sure how to avoid this because I need to instantiate the giphyFetch on the client side?

[2020-08-06 16:48] giannif commented on #120
@MatthewCaseres it's not a sensitive api key in this case, I wouldn't worry about it 👍  It's on the network requests, so it being in javascript isn't a big reveal really

[2020-08-06 16:48] #120 closed

[2020-08-18 16:33] elviswolcott opened #126 "[@giphy/js-types] incorrect types for width and height"
The type definitions type the width and height as `number`
https://github.com/Giphy/giphy-js/blob/180b2cb360554f0c8f5d9f7bee74a64789168956/packages/types/src/gif.ts#L5-L8
but the API response has `string`s for the width and height.

<details>
  <summary>Example API Response</summary>

[code]

</details>

[2020-08-19 17:38] giannif commented on #126
@elviswolcott you're right, I'm trying to come up with a good solution. Really, the api response should have numbers. We could normalize on the client, but that's a lot of images to process. We're going to discuss internally

[2020-08-26 07:53] kwasimensah commented on #120
This is actually dangerous because exposing the API key lets people talking the Giphy as if they were you (including spamming, misusing quota etc).

I currently route all requests to giphy through my backend where I can hide the key from the world.

[2020-08-26 15:18] MatthewCaseres commented on #120
I was thinking about doing that but wasn't sure how to do that with the SDK without sending the api key to their react component.

[2020-08-26 15:43] kwasimensah commented on #120
The react components take a fetchGif async function which you can implement to talk to your server instead

[2020-08-26 16:31] giannif commented on #120
@kwasimensah @MatthewCaseres this is really something you shouldn't be worrying about.

Here is the official response to this question from GIPHY:

Lastly, and most importantly - GIPHY has monitors setup for API key abuse and we'll reach out to you if anything happens. We definitely don't want you to worry about it.

[2020-08-26 23:13] giannif commented on #126
@elviswolcott we will be updating our api to return numbers for widths and heights if passed a special configuration flag. I will add the flag to the `@giphy/js-fetch-api` once the backend is ready

[2020-09-29 15:04] mallerie opened #137 "Invalid Hook Call Error when Rendering React Giphy Grid"
I'm working on a giphy integration for my app, and when I try to render, I get the invalid hook call error:

`Uncaught Error: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might have mismatching versions of React and the renderer (such as React DOM)
2. You might be breaking the Rules of Hooks
3. Yo

[2020-09-29 17:00] giannif commented on #137
Hey @mallerie the SDK definitely supports hooks, we use them in the code base. I wonder if you have two versions of React?

Maybe you can try defining a `resolutions` in your package.json, something like
[code]

I had this error just the other day and it wasn't any of the reasons listed in the error description, so it may be something else entirely.

Maybe you can reference our [codesandbox](https

[2020-09-29 19:54] mallerie commented on #137
That's what I am doing now. Thanks so much.

[2020-09-29 19:54] #137 closed

[2020-12-04 16:43] stopdropandrew opened #144 "Is there a reason not to export IGif"
ICategory gets exported, along with the Result types, but I'd like to be able to reference IGif directly. Thanks!

https://github.com/Giphy/giphy-js/blob/master/packages/fetch-api/src/result-types.ts

[2020-12-04 16:46] stopdropandrew commented on #144
Whoops, it's exported in js-types, sorry for the spam!

[2020-12-04 16:46] #144 closed

[2020-12-07 20:05] stopdropandrew opened #146 "[@giphy/js-types] original_mp4 improperly typed"
https://github.com/Giphy/giphy-js/blob/master/packages/types/src/gif.ts#L49

`original_mp4` is typed as `IImage` but not `IMP4`. I think `IMP4` needs to extend `IRendition` and `original_mp4` would just be `IMP4`.

[2020-12-07 20:12] giannif commented on #146
@stopdropandrew thanks for catching this, I'll work on a fix!

[2020-12-07 22:27] stopdropandrew commented on #146
Wow thanks for the quick response!

[2020-12-09 01:38] #146 closed

[2021-02-05 04:26] maltoze commented on #72
Why doesn't provide a version that can be used directly in `<script>`?

[2021-02-05 18:59] giannif commented on #72
@maltoze it's possible, just most people use a bundler and it hasn't been on our roadmap. I'd have to add a `umd` file to our package.json and then it looks like you'd be able to use https://unpkg.com/ to grab the code in a script tag

[2021-02-07 01:25] shreesh5 commented on #67
Has anyone found a workaround to make `@giphy/js-fetch-api` work with React-Native?
I'm getting the same "Can't find variable: location" error. Is there any way to integrate the native Android/iOS SDKs and use them in React-Native?

[2021-02-22 23:35] StephenMayeux opened #163 "Fetch gifs by ids doesn't always return every gif in function parameter"
When I use the `gf.gifs(string[])` API to fetch a list of gifs by IDs, it usually responds with all the gifs that I've requested but not always.

I've defined a simple function in my service layer that looks like this:

[code]
And below is a screenshot of those console log statements. I'm passing in an array of 6 gif Ids, but only 5 are being returned by `gf.gifs()`.

![Screen Shot 2021-02-22 at 5

[2021-02-23 15:23] giannif commented on #163
@StephenMayeux yeah, I've never seen that before.

@ethanlu any idea why this returns a 404:
https://api.giphy.com/v1/gifs/l0MYsHhzxfLsYfpPW?api_key=sXpGFDGZs0Dv1mmNFvYaGUvYwKX0PWIh&pingback_id=177cf74e3c8d1cff

But the gif is public on giphy.com:
https://giphy.com/gifs/nfl-football-excited-l0MYsHhzxfLsYfpPW

[2021-02-25 22:19] StephenMayeux commented on #163
@giannif @ethanlu Any updates on this? Please let me know, and thank you!

[2021-02-26 00:24] ethanlu commented on #163
@StephenMayeux @giannif Hey, sorry for delayed response. We have a lot of content that must be blocked for reasons such as:
- content owner made the content private
- content owner restricted access to the content
- content owner removed the content

When any of the situations above causes the content to be no longer available, the getGifById endpoint will reply with a HTTP 404 response. Likewise,

[2021-02-26 02:46] StephenMayeux commented on #163
Thank you.

[2021-02-26 02:46] #163 closed

[2021-03-11 12:20] szymonograbek commented on #67
I've just worked on giphy picker for react native and to make it work you need to make changes in the following files:
-  `get-pingback-id.js` in `js-utils` - react native doesn't have `sessionStorage` so as a workaround you can just check if the sessionStorage exists and if it doesn't generate new `pingbackId` without saving it
- `log.js` in `js-utils` - to enable the `Logger` it uses `location`

[2021-03-11 15:37] giannif commented on #67
@szymonograbek thanks for digging in here, I'm going to make the changes and do a release. Confused though about what I can do for `sessionStorage`, is there an error thrown? It looks like everything is a in a try catch and pingback id should still be stored in memory

[2021-03-12 10:01] szymonograbek commented on #67
@giannif Oh, that's true, I didn't notice the try/catch block. The change with checking if `sessionStorage` exists is not needed, but you need to follow this [https://github.com/uuidjs/uuid#getrandomvalues-not-supported](https://github.com/uuidjs/uuid#getrandomvalues-not-supported) as `getRandomValues` in `uuid` is not supported in react-native

[2021-03-15 15:42] davidmm07 commented on #58
Works for me in Typescript with API's in Node

`import fetch from "node-fetch";`
`declare var global: any;`
`global.fetch = fetch;`

[2021-03-22 14:12] amanagr opened #174 "Keyboard Accessibility Support"
GIFs in the grid are not keyboard accessible using tab since there is no `tabindex` set for them. While setting `tabindex=0` using javascript fixes the issue, it would be nice if this was already present in the DOM element of the GIF's [`<div>`](https://github.com/Giphy/giphy-js/blob/master/packages/components/src/components/grid.tsx#L160) tag to save the unnecessary JS query.

[2021-03-22 20:32] giannif commented on #174
@amanagr thanks for reporting this, sounds like a good thing to have for sure. Should we make this opt in as a prop? I wouldn't want to have conflicts with other tabindex values on the same page.

Something like this?

[code]

[2021-03-23 04:42] amanagr commented on #174
This is actually something that anyone using this on the web should have unless they want the GIFs to be non-interactive. So, if you want,  I would suggest this should ideally be an opt-out. People might want to set their custom value of `tabindex` but `tabindex=0` is a very good default value.

[2021-03-25 00:01] giannif commented on #174
@amanagr ok, this is planned 👍 I'm on vacation the next two weeks but expect a release second week in April

[2021-04-12 02:36] #174 closed

[2021-04-12 05:48] #126 closed

[2021-04-14 11:06] MickL opened #182 "@giphy/js-components throws error for throttle-debounce"
I followed the sdk and sandbox to simply render a single gif: https://codesandbox.io/s/1wq52x1w44?fontsize=14&file=/src/gif.ts

But it when i import renderGif:

[code]

It throws an error:

[code]

The docs do not state any dependency to `throttle-debounce`. If there are no dependencies but the types are needed in order to `@giphy/js-components` work, then they should be included in the package.js

[2021-04-14 11:18] MickL opened #183 "Rendering full-width without defining a static width"
In `@giphy/js-components` render functions like `renderGif` and `renderGrid` need a static width. As a feature request I would like to have them be responsive with pure css 100% width, without the need of defining a static width in js, listening to window-resize and rerendering.

[2021-04-14 22:15] giannif commented on #183
@MickL this is definitely something we would have included if possible. Our `Grid` require a masonry layout, and there was no way to do masonry with pure css (you can get close, but not quite there).

As far as the regular `Gif` component, I think at some point in the future we can switch to using `srcset` to do rendition selection instead of requiring a fixed width, but I'm not sure if we'd be co

[2021-04-14 22:21] giannif commented on #182
@MickL can you remove your node_modules dir and reinstall? This dependency is [declared](https://github.com/Giphy/giphy-js/blob/master/packages/components/package.json#L11) in our package.json, so not sure why the type declaration wouldn't be found

[2021-04-15 09:26] MickL commented on #183
I understand. Maybe giphy should do the rerendering, tho, not the consumer?

The downside would be that this may add a few more bytes of code to giphy since it may need throttle-debounce or similiar. In my project I entirely use RxJS for things like this so I am fine that I trigger rerendering.

[2021-04-15 09:30] MickL opened #184 "Angular components"
As you provide React components, maybe you could do the same for the lovely Angular framework, too? :)

For example it could then widely use RxJS (for rerendering, etc) and Angular Http client and may safe a lot of bundle size while providing maximized performance using the Angular renderer.

Wasnt much of a problem to use your js-components, tho. Love that you made it in TypeScript!

[2021-04-15 16:51] MickL commented on #182
I tried but it is not working without installing `@types/throttle-debounce`.

I see it is declared in you devDependencies but it seems like it is needed as a dependency instead.

[2021-04-22 00:29] giannif commented on #183
@MickL I'd like to make it easier to use but I think the width needs to be defined by the user here when they render, and therefore giphy can't do the rerender. Next time I'm working on this part of the code base I'll take a deeper dive but for now it seems okay. Thanks for the feedback

[2021-04-22 00:29] #183 closed

[2021-04-22 00:39] giannif commented on #182
@MickL if you're using it in your code, you'll need to add `@types/throttle-debounce` to your package json. It is a dev dependency for our library, I'm pretty sure, since it's not part of an exported type.

I found this on [stackoverflow](https://stackoverflow.com/questions/45176661/how-do-i-decide-whether-types-goes-into-dependencies-or-devdependencies) and I don't think throttle debounce meets t

[2021-04-22 00:42] giannif commented on #184
I'll leave this open for a bit to see if anyone else wants to vote for Angular. We don't have the bandwidth to do it at the moment, though. I kind of wrote the js-components to cover all the non-React scenarios. I'm glad it's working for you!

[2021-04-22 13:45] MickL commented on #182
I am just importing `import { renderGif } from '@giphy/js-components';` and it throws this error.

[2021-04-22 13:46] MickL commented on #184
You may close this then :)

[2021-04-22 13:48] MickL opened #186 "Bundle for proper tree shaking / no CommonJS"
Importing ´import { renderGif } from '@giphy/js-components';` or `import { GiphyFetch } from '@giphy/js-fetch-api';` in Angular results in a warning:

Would be nice if both packages are bundled properly. Personally I use rollup for that.

[2021-04-26 00:45] giannif commented on #186
@MickL they are bundled with the typescript compiler using module set to 'commonjs', which is what is recommended and works in SSR as well as the client. I don't think we have the bandwidth to add more build tools

[2021-04-26 00:45] #186 closed

[2021-04-26 00:45] #184 closed

[2021-04-26 00:49] giannif commented on #182
@MickL okay, I will move it to dependencies in the next release 👍

[2021-04-26 07:19] MickL commented on #186
Thats unfortunate. From the docs:

[2021-05-01 21:26] kopax-polyconseil opened #188 "How to download a gif from command line?"
Hello,

I want to post a tweet with a giphy, tweet is scheduled and tweet post api v1 is forcing us to upload the gif.

after choosing the `gif`, I have tried to `wget $gif.url` but I get a web page. How can I use that component to post a Giphy on twitter using the twitter API in delayed (scheduled) ?

Thanks!

[2021-05-03 23:59] giannif commented on #188
@kopax-polyconseil `gif.url` is for the web page. You'll want to choose a rendition from the images object and use the url there. You can read about our renditions [here](https://developers.giphy.com/docs/api/schema#image-object)

[2021-05-03 23:59] #188 closed

[2021-06-25 17:01] phoxer opened #223 "React code ERESOLVE unable to resolve dependency tree"
I'm trying to install | npm install @giphy/react-components
but getting this error..

[code]

[2021-06-25 17:22] giannif commented on #223
@phoxer I need to update our peer dependencies to include React 17. I'll do a release soon, want to test a bit with React 17 first. Early next week should be the release. If this is more urgent on your end you can lower your host project to React 16 if possible. Thanks for reporting 👍

[2021-07-02 21:41] JuhQ opened #226 "Broken links in @giphy/react-components documentation"
https://github.com/Giphy/giphy-js/blob/master/packages/react-components/README.md contains broken links for pages:

[code]

[2021-07-06 16:44] #223 closed

[2021-07-06 18:37] giannif commented on #226
@JuhQ thanks this is now fixed

[2021-07-06 18:37] #226 closed

[2021-07-29 18:54] giannif commented on #67
Good news everyone, we have an official React Native SDK coming soon. If you'd like to request access to the limited beta, email sdk@giphy.com and include your github user name

[2021-07-29 18:54] #67 closed

[2021-08-06 12:41] huynguyen93 opened #244 "[@giphy/js-components] Warning: Circular dependencies"
Hello, I got a warning when bundling my code with rollupjs (code still worked)

Circular dependencies
node_modules/@giphy/js-fetch-api/dist/index.js
-> node_modules/@giphy/js-fetch-api/dist/api.js
-> node_modules/@giphy/js-fetch-api/dist/request.js
-> node_modules/@giphy/js-fetch-api/dist/index.js

I see in the code, we can move this line
https://github.com/Giphy/giphy-js/blob/7b5f51fcde83fb698a2f

[2021-08-06 16:15] giannif commented on #244
@huynguyen93 I just noticed this too! Yes, a PR is welcome if you have time today. I'm adding dependency cruiser so this doesn't happen again :)

[2021-08-11 16:19] giannif commented on #244
Fixed in #245

[2021-08-11 16:19] #244 closed

[2021-08-26 19:11] pierroo opened #254 "Use own component to display GIF"
Hi,

I am using the GIPHY SDK (not the API)
I know there is a GIF component that we can import to display GIF; however I would like to use my own component.
Above all, I would like to have the file as a *.gif, not an actual URL link.

The reason being, in react I would like to use <Image src={gif_src} /> with gif_src being fetched when we use the props "onGifClick" from the Grid for example.

is t

[2021-08-27 11:34] #254 closed, assigned to nobody

[2021-09-07 03:23] kossnocorp opened #259 "`IImages` type is not accurate"
The `IImages` [states that `downsized` and `downsized_still` are always present](https://github.com/Giphy/giphy-js/blob/master/packages/types/src/images.ts#L33-L34), however, it's not true. Recently [we've](https://getchirrapp.com/) captured an exception with a `IImages` missing both `downsized` and `downsized_still`.

Also, `downsized_medium` is missing in the type but present in the payload.

He

[2021-09-07 17:20] giannif commented on #259
@kossnocorp thanks for filing this issue. @pshoniuk @00000111 maybe you can check with the api team and get a better definition on what could be optional, we can then update our types package accordingly

It would also be good to update our public api [schema](https://developers.giphy.com/docs/api/schema#image-object) docs

[2021-09-20 01:25] rockwotj opened #266 "Support for ES6 Modules"
I noticed that the package.json files for the fetch api and react components only specify a "main" entry point and not a "modules" entry point, which means I can't tree shake out the bits I don't use. Ideally all libraries specified a module directive and we're declared as "side effect free" (not sure if the packages are actually side effect free) so my bundler can only pull in the bits I need.

[2021-09-20 02:41] rockwotj commented on #266
Maybe useful reading reading on the subject: https://blog.logrocket.com/publishing-node-modules-typescript-es-modules/

[2021-09-21 17:48] giannif commented on #266
@rockwotj this has been on my list for awhile, I'll see if I can get it in our queue

[2021-09-28 14:59] pshoniuk commented on #182
@MickL Are you still facing this problem? It seems that this issue is no longer relevant.

[2021-12-27 15:18] geneoes opened #271 "How to pick the format having only the id?"
Hi all!

I have a site where user posts `text`  and  `giphy gifs`,  and I been saving those posts together with the giphy id
At the moment, in order to show them I'm creating this url:

[code]

I wonder how can I start using `webp` or `mp4` formats instead.

Should I just change that url to end with `${giphyId}/giphy.webp`? in that case, all the older years posted gifs  should keep working with th

[2022-01-05 06:28] pshoniuk commented on #271
Hi @geneoes, apologies for the late reply. In general, yes - you can build a URL using this `${giphyId}/giphy.web` template, but not all gifs support `webp` or `mp4` formats, so sometimes this URL will point to 404. I would recommend using the [Giphy JS Fetch API](https://github.com/Giphy/giphy-js/blob/master/packages/fetch-api/README.md#gif-by-id) with [Giphy JS Utils](https://github.com/Giphy/gi

[2022-01-06 19:10] giannif commented on #271
@geneoes - as @pshoniuk  mentioned it would be good to use the [getBestRenditionUrl](https://github.com/Giphy/giphy-js/blob/master/packages/util/src/gif-utils.ts#L72) util, as it can give you the best rendition for the size specified as well detect webp support. If webp isn't supported, it displays a gif

[2022-01-08 17:26] geneoes commented on #271
Ohh I see, I'll try that then, thanks both!

[2022-02-07 00:13] q00u commented on #182
This problem appears to still exist on your [@giphy/js-components sandbox](https://codesandbox.io/s/1wq52x1w44?fontsize=14)

[2022-02-07 21:20] giannif commented on #182
@q00u can you be more specific? I don't see any import errors here: https://codesandbox.io/s/1wq52x1w44?fontsize=14&file=/src/gif.ts

Also the sandbox needs to be updated, if you're seeing the error could you try updating `@giphy/js-components` to the latest which is `5.2.0`? I don't see the error, so I can't test if the update fixes it

[2022-02-16 10:32] robertpin opened #275 "Gif does not support keypress event"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When a Gif component is focused and the user presses a key nothing happens

### Expected behavior 🤔

When a Gif is focused and the user presses a key there should be a callback like onGifClick.
This would be good for accessibility. Instead of having to clic

[2022-02-27 00:45] Amirbarzegari commented on #182
The error still exists. (Grid component works fine but in the grid.tsx Vs code was showing the error)

[2022-02-27 01:23] Amirbarzegari opened #277 "At Grid component: "Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.""
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When using Grid component with the search function, I'm getting the below error whenever a new search term is entered:

"Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your applicati

[2022-02-28 14:14] pshoniuk commented on #275
Hey @robertpin! Thanks for your work, I'll take a look soon.

[2022-03-01 17:14] pshoniuk commented on #275
New versions with support for keypress events released:
 * [@giphy/js-components 5.4.0](https://www.npmjs.com/package/@giphy/js-components/v/5.4.0)
 * [@giphy/react-components 5.6.0](https://www.npmjs.com/package/@giphy/react-components/v/5.6.0)

 Thanks to @robertpin for working on this feature.

[2022-03-01 17:14] #275 closed

[2022-03-01 17:16] #271 closed

[2022-03-01 17:18] pshoniuk commented on #277
Hi @Amirbarzegari, thanks for reaching out. This should be fixed in [@giphy/react-components 5.6.0](https://www.npmjs.com/package/@giphy/react-components/v/5.6.0)

[2022-03-03 06:23] #277 closed

[2022-04-07 19:52] josephschmitt opened #284 "Add support for AbortController"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

The JavaScript [`AbortController`](https://developer.mozilla.org/en-US/docs/Web/API/AbortController) allows the cancellation of an in-flight fetch request. The current `@giphy/js-fetch-api` doesn't expose an option to pass an AbortController `.abort()` function or a

[2022-04-11 15:03] giannif commented on #284
@josephschmitt this is a cool idea, we'll create a ticket and investigate 👍

[2022-04-30 09:25] jbg opened #291 "Consider making pingback and remote fonts configurable"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

giphy-js makes analytics pingbacks and loads fonts from a remote server, and these behaviours are not configurable.

### Expected behavior 🤔

These behaviours should be configurable.

### Steps to reproduce 🕹

Steps:

1. Use giphy-js in a project.
2. Observ

[2022-05-02 10:09] artemsvirskyi opened #292 "Why there is no 'clips' type?"
In Giphy docs there is [Clips](https://developers.giphy.com/docs/clips) section.

In [Type Option](https://github.com/Giphy/giphy-js/tree/master/packages/fetch-api#type-option) of Fetch API there is 'videos' type, though there is no 'videos' content type in [docs](https://developers.giphy.com/docs/sdk#content-types).

Are 'clips' and 'videos' the same type? If not, what is the difference and why i

[2022-05-03 14:47] giannif commented on #292
@artemsvirskyi type `videos` is the same as clips. Clips is what we branded our videos as, but the rest api had a more generic term `videos`, and so our js fetch api just sticks with what the backend api uses. Hope that clarifies things! Sorry about the confusion, I wish there was more consistency as well

[2022-05-03 14:47] #292 closed

[2022-06-03 21:08] PatrickMalara opened #296 "Carousel does not pass noLink property"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

Passing Object with noLink property to renderCarousel() still renders Gifs with anchor tags.

link to codepen, add noLink property and set it to true: [codepen](https://codesandbox.io/s/giphy-js-components-forked-q45uo1?file=/src/carousel.ts)

[code]

[2022-06-06 16:45] giannif commented on #296
@PatrickMalara the latest version of `@giphy/js-components` is `5.5.0`, looks like you're on `3.0.5`

You should see `noLink` work okay after upgrading.

I updated our codesandbox just to be sure, you can inspect and see there is no a tag:
https://codesandbox.io/s/1wq52x1w44?fontsize=14&file=/src/carousel.ts

I'd update all of your package versions to avoid issues with types.

[2022-06-06 16:45] #296 closed

[2022-06-27 10:56] rimildeyjsr opened #301 "Giphy React Grid component is not working"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am trying to replicate the search and masonry grid from the official documentation using their [Codesandbox example](https://codesandbox.io/s/giphy-react-components-search-example-forked-wqqt73?file=/src/index.tsxhttps://).

However, when I am trying to u

[2022-06-27 16:07] giannif commented on #301
@rimildeyjsr not sure why but it has to do with `<StrictMode/>`, which is wrapping the app in the [index.tsx](https://codesandbox.io/s/cocky-waterfall-ny9rzk?file=/src/index.tsx) file

We will investigate. In the meantime, if you remove `StrictMode` it will work.

[2022-06-28 13:48] rimildeyjsr commented on #301
Thank you for looking into this @giannif!

[2022-06-28 18:56] #301 closed

[2022-06-29 15:45] giannif commented on #301
@rimildeyjsr thanks for catching the issue! I just released `@giphy/react-components` version `5.9.3` with this fix and the codesandbox works with this new version 💃

[2022-07-01 05:06] rimildeyjsr commented on #301
@giannif - Thank you for the quick fix! I verified as well it works :)

[2022-07-07 21:48] codingyourlife opened #307 "Please upgrade to react18"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

Breaking Changes:
https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html

[code]

### Motivation 🔦

incompatible with v18

[2022-07-07 21:56] giannif commented on #307
@codingyourlife thanks for reporting, can you describe your issue more? we do support React 18 and are using it on giphy.com

[2022-07-07 22:09] codingyourlife commented on #307
I receive
[code]

in our build pipeline...

And here in your package.json it says 17:
[package.json](https://github.com/Giphy/giphy-js/blob/103e65e06b15b750a477e8afd9b00e2e46e0d68d/packages/react-components/package.json#L30)

[2022-07-07 22:14] codingyourlife commented on #307
No wait this is a sub-dependency that fails now...

[code]

can you do something about it?

[2022-07-08 09:22] codingyourlife commented on #307
solved. I needed to add
`legacy-peer-deps=true`
to .npmrc

[2022-07-08 09:22] #307 closed

[2022-07-16 07:20] Adnan0061 opened #309 "SearchBar component make search button optional"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Summary 💡

in the SearchBar component, there is a search button and it is a default with no option to remove it. I think we can make it conditional to boolean props.

I can make a PR for this but I didn't find any PR guidelines. If there is any and you accept PR's please let m

[2022-08-05 18:36] emanual4real opened #316 "Giphy/react-components 5.13.0 corporate proxy issue"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

giphy/react-components 5.13.0 attempts to download a file from https://download.cypress.io/desktop/10.4.0?platform=win32&arch=x64

My job's corporate proxy blocks it since it's not from npm.

$ npm i
npm ERR! code 1
npm ERR! path C:\Users\<name>\Documents\w

[2022-11-03 13:22] zizhouW opened #322 "renderGrid gifs positions are not set properly in lit"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

I am trying to use the `renderGrid` component inside a lit project.
It seems like all gifs are rendered with
[code]
and stacked together as a result. Could it be because of shadow DOM?

### Expected behavior 🤔

`renderGrid` should form a grid to display all

[2022-11-03 16:36] zizhouW commented on #322
Thank you @giannif! Looks like both the odd positioning as well as the on hover errors are because of `renderGrid` being wrapped in shadow DOM. I have updated the [codesandbox](https://codesandbox.io/s/litelement-typescript-forked-i8nz57) to show a comparison between being wrapped in shadow DOM vs NOT wrapped in shadow DOM. I see that `renderGrid` is using `bricks.js` for the "render logic" 🤔

[2022-11-16 21:28] LBBO commented on #266
I'm not sure whether it's relevant to this discussion or not, but since the issue mentions side effects, I thought I'd just mention it briefly. Importing `Grid` from `@giphy/react-components` indeed has potentially critical side effects. It imports `Gif`, which creates a `const GifContainer = styled.div...` **at import time**, which eventually caches `document.head` to insert `<style>` tags into.

[2022-11-16 22:10] LBBO opened #326 "Focused Gif is not visually emphasized"
### Duplicates

- [X] I have searched the existing issues

### Latest version

- [X] I have tested the latest version

### Current behavior 😯

When a Gif is focused, it can't be visually differentiated from other Gifs, e.g. in a Grid. In fact, the browser behavior that would add this functionality by default is explicitly deactivated:

https://github.com/Giphy/giphy-js/blob/3a0a25082f7d49d2d2a0c05

[2022-11-16 22:22] LBBO commented on #291
I'm interested in creating a PR for the second part of this, i.e. disabling the pingbacks. Since I find the environment variable overly cumbersome, I'd like to implement a prop that can be passed to the individual components in order to control the pingbacks. I could also add a corresponding property for the fonts.

Furthermore, in the interest of Privacy by Design, I would like to make this an op

[2022-11-30 05:44] OmarSadat6 opened #332 "Remove Grid not working"
Hi, I wanted to know how to repopulate the grid when an input changes. I can fetch the differents gifs from the search but my grid content is not changing.

[2022-11-30 16:52] LBBO commented on #326
@giannif Sorry for the ping, but could I ask for a quick comment on this? Maybe a wontfix or a rough estimate when this might be considered? Also, just to re-iterate: if you let me know what the focussed GIF should look like, I'm more than happy to implement this myself.

[2022-11-30 17:07] giannif commented on #332
@OmarSadat6 the approach for this is to use a `key` on the Grid when the input changes: https://codesandbox.io/s/giphyreact-components-search-example-0yrur

This in the documentation, but it's hidden in the examples and not really called out. @pshoniuk maybe we can try to call this out as it's not obvious. Doing this without the `key` approach inside the component would involve diffing the gifs ba

[2022-11-30 17:07] #332 closed